#wrapper{
  width:1080px;
  margin: 0 auto;
  border: solid;
  padding: 10px;  
}
#cabecalho{
  height:200px;
  margin: 0 auto;
  border: solid;
  margin-bottom: 10px;  
}
#menu{
  height:60px;
  margin: 0 auto;
  border: solid;     
  margin-bottom: 10px;
}
#conteudo-dinamico{
  width:720px;
  float: left;
  border: solid;     
}
#publicidade{
  width:300px;
  height: 300px
  float: right;
  border: solid;     
}
#rodape{
  clear: both;
  height: 60px;
  border: solid;
  margin-top: 10px;