#wrapper{
  width:1080px;
  margin: 0 auto;
  border: solid;  
}
#cabecalho{
  height:200px;
  margin: 0 auto;
  border: solid;  
}
#menu{
  height:60px;
  margin: 0 auto;
  border: solid;     
}
#conteudo-dinamico{
  width:720px;
  float: left;
  border: solid;     
}
#rodape{
  width:300px;
  float: right;
  border: solid;     
}